body 
{
    margin: 0;
}

.container
{
    /* width: 100%; */
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



header {
    width: 1400px;
    max-width: 100%;
    display: flex;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #dcdcdc;
    box-sizing: border-box;
    font-size: 40px;
}

menu 
{
    width: 1400px;
    max-width: 100%;
    overflow: hidden;
    background-color: #777777;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 25px;    
}


.content_menu
{
    width: 1400px;
    text-align: left;
    padding-right: 210px;
    padding-top: 8px;
    margin: 0 auto;
    font-size: 27px;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}


.content_menu li {
   
    
    display: inline-block;
    
}

.content_menu li ::after
{
    content: "|";
    margin-left: 20px; 
    margin-right: 20px;
}

.content_menu a 
{
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0 auto;
}


.content_menu ul {
    list-style: none;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
  }


main {
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {

    width: 1400px;
    max-width: 100%;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: auto;
    display: flex;
    background-color: #777777;
    color: white;
    box-sizing: border-box;
}

.slider {

    width: 1000px;
    max-width: 100%;
    background-attachment:fixed;
   
}

.slider_image
{
    width: 1248px;
    height: 462px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6.5312%;
    background-attachment:fixed;
}

.logo 
{
    width: 273px;
    height: 100px;
    max-width: 273px;
}

.right_block 
{   
    margin: 0 0 0 auto;
}

.left
{
    float: left;
}

.center 
{
    float: center;
}

.right {
    float: right;
}

.color_text
{
    color: white;
}

.text 
{
    font-size: 40px;
    font-family: PTSans;
    line-height: 46px;
}

@font-face 
{
    font-family: PTSans;
    src: url(fonts/PTSans-Regular.ttf);
}
