@font-face {
    font-family: "open_sans_condensedlight";
    src: url("fonts/opensanscondensed-light-webfont.woff2") format("woff2"),
         url("fonts/opensanscondensed-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


body 
{
    margin: 0;
}

header 
{   
    position: absolute;
    width: 1400px;
    max-width: 100%;
    background-color: #dcdcdc;
    margin: auto;
}

.container
{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content_header {

    width: 960px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #dcdcdc;
    font-size: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.content_footer
{
    width: 1000px;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 53px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    box-sizing: border-box;
    background-color: #767676;
}


menu 
{
   width: 1400px;
    max-width: 100%;
    background-color: #777777;
    margin-top: 18%;
    z-index: 100;
}


.content_menu
{
    width: 1400px;
    max-width: 100%;
    
    font-size: 27px;
    padding-top: 26px;
    padding-bottom: 27px;    
    text-align: center  ;
    box-sizing: border-box;
    display: inline-block;
}


.content_menu li {
   
    
    display: inline-block;
    
}

.content_menu li ::after
{
    content: "|";
    margin-left: 20px; 
    margin-right: 20px;
}

.content_menu a 
{
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0 auto;
}


.content_menu ul {
    list-style: none;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
  }


main {
    width: 1400px;
    padding-left: 210px;
    padding-right: 210px;
    box-sizing: border-box;
}

footer {

    width: 1400px;
    max-width: 100%;
    display: flex;
    margin-top: auto;
    background-color: #777777;
    box-sizing: border-box;
 
}

.slider {

    width: 1400px;
    max-width: 100%;
    padding-left: 85px;
    margin-top: 10px;  
}

.slider_image   
{
    width: 1248px;
    height: 462px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6.5312%;
}

.sidebar
{
    width: 350px;
    background-color: #777777;
    padding: 22px 52px 100px 36px;  
    margin-top: 30px;
    margin-bottom: 195px;
    box-sizing: border-box;
}

.news 
{   
    margin-top: 25px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo 
{
    width: 273px;
    height: 100px;
    float: left;
}

.right_block 
{     
    text-align: right;
    
}

.left
{
    float: left;
}

.center 
{
    float: center;
}

.right {
    float: right;
}

.color_text
{
    color: white;
}

.text 
{
    font-size: 40px;
    font-family: Open Sans;
    line-height: 46px;
}

.news_text
{
    font-size: 14px;
    font-family: PTSans;
    line-height: 22px;

}


.phone_text
{
    font-family: "open_sans_condensedlight";
}

